Options -MultiViews

RewriteEngine On
RewriteBase /php%20workspace/Lecture%20Poll%20Web%20App/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]